## 4. Feature engineering

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = [
    {'price': 850000, 'rooms': 4, 'neighborhood': 'Queen Anne'},
    {'price': 700000, 'rooms': 3, 'neighborhood': 'Fremont'},
    {'price': 650000, 'rooms': 3, 'neighborhood': 'Wallingford'},
    {'price': 600000, 'rooms': 2, 'neighborhood': 'Fremont'}
]

In [7]:
from sklearn.feature_extraction import DictVectorizer

In [15]:
v_data = DictVectorizer(sparse=False, dtype=int)
dfv = pd.DataFrame(v_data.fit_transform(data), columns=v_data.get_feature_names())
dfv

,neighborhood=Fremont,neighborhood=Queen Anne,neighborhood=Wallingford,price,rooms
0,0,1,0,850000,4
1,1,0,0,700000,3
2,0,0,1,650000,3
3,1,0,0,600000,2

In [22]:
df = pd.DataFrame(data)
pd.get_dummies(df)

,price,rooms,neighborhood_Fremont,neighborhood_Queen Anne,neighborhood_Wallingford
0,850000,4,0,1,0
1,700000,3,1,0,0
2,650000,3,0,0,1
3,600000,2,1,0,0

In [28]:
np.array([1, 2, 3, 4, 5])[:, np.newaxis, np.newaxis, np.newaxis]

array([[[[1]]],


       [[[2]]],


       [[[3]]],


       [[[4]]],


       [[[5]]]])